[access "refs/*"]
	owner = group user/Ken Kuan (kf013099)
[access "refs/for/refs/*"]
	read = group user/Ken Kuan (kf013099)
	push = group user/Ken Kuan (kf013099)
	label-Code-Review = -2..+2 group user/Ken Kuan (kf013099)
	label-Verified = -1..+1 group user/Ken Kuan (kf013099)
	rebase = group user/Ken Kuan (kf013099)
	removeReviewer = group user/Ken Kuan (kf013099)
	submit = group user/Ken Kuan (kf013099)
[access "refs/heads/*"]
	read = group user/Ken Kuan (kf013099)
	create = group user/Ken Kuan (kf013099)
	push = +force group user/Ken Kuan (kf013099)
	pushMerge = group user/Ken Kuan (kf013099)
[access "refs/tags/*"]
	push = +force group user/Ken Kuan (kf013099)
	pushTag = group user/Ken Kuan (kf013099)
	pushSignedTag = group user/Ken Kuan (kf013099)
